@model Easy_Laundry.Models.OrderModel

@{
    ViewData["Title"] = "Details";
}

<h1>Order Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClothType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClothType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaundryType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaundryType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>


<form asp-action="ConfirmOrder" asp-route-id="@Model.Id" method="post">
    <button type="submit" class="btn btn-primary">Confirm Order</button>
</form>
<br />
<br />
<form asp-action="CancelOrder" asp-route-id="@Model.Id" method="post">
    <button type="submit" class="btn btn-danger">Cancel Order</button>
</form>

